body {
    background-color: rgb(87, 122, 157);
    color: hsl(0, 0%, 5%)

}

nav  {
  background-color: rgb(142, 38, 95);
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

p{
    text-align: center;
}

h1,h2,h3{
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #fff;
}

footer {
    font-size: 100%;
    font-style: italic;
    text-align: center;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: fixed;
    bottom: 0;
    background-color: white; 
    padding: 5px;
}

h1,h2,h3,p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
}

#wrapper {
    margin: auto;
    width: 85%;
    background-color: rgb(157, 136, 215);
    min-width: 550px;
    max-width: 1015px;
    box-shadow: -5px 5px 5px #efeeee;
}

main {
    padding-top: 1px;
    padding-right: 15px; padding-bottom: 15px; padding-left: 20px;
}


#contact {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contact-info p {
    margin: 0.5rem 0;
}

.contact-info a {
    color: #0b0b0b;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

form {
    margin-top: 1.5rem;
    text-align: left;
}

label {
    display: block;
    margin: 0.5rem 0 0.2rem;
    font-weight: bold;
}

input, textarea, button {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #094e5f;
    color: rgb(241, 236, 236);
}

tr:nth-child(even) {
    background-color: #f2f1f1;
    color: #070606;
}

tr:hover {
    background-color: #ddd;
}

td a {
    color: #37373c;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}
